/* css */

body {
  font-size: 16px;
  color: #444;
  /* background-color: lightsalmon; */
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #444;
}

a:hover {
  color: #999;
}

.header-title .fas {
  margin-right: 10px;
  color: skyblue;
}

.clear {
  clear: both;
}

.container {
  width: 820px;
  margin: 0 auto;

  /* background-color: #eee; */
}

.header {
  background-color: lightsalmon;
  height: 130px;
  padding: 10px;
  text-align: center;
}

.header h1 {
  font-size: 34px;
  line-height: 44px;
}

.header h2 {
  font-size: 24px;
  line-height: 34px;
}

.donate {
  color: #77b;
}


.main {
  padding: 10px;
  /* background-image: url("file:///Users/uzura_saan/Desktop/Hinagata-Basic/img/background.jpg"); */
  background-image: url("./img/background.jpg");
  background-size: cover;
}

.work-wrapper {
  width: 810px;
  margin: 0 auto;
  /* background-color: #aac; */
}

.work {
  width: 400px;
  /* border: 1px solid #444; */
  margin-bottom: 22px;
  float: left;
}

.work p {
  font-size: 16px;
  line-height: 1.4;
}

.work-title {
  margin: 30px 0 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #aaa;
}

.work-title a {
  font-size: 28px;
}

.left {
  margin-right: 10px;
}

.footer {
  font-size: 26px;
  height: 55px;
  padding: 10px;
  border-top: 1px solid #aaa;
}

.footer .fas {
  color: orange;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}

#back-to-top {
  opacity: 0.8;
  cursor: pointer;
}

#back-to-top:hover {
  opacity: 1;
}

@media (max-width: 600px) {

}
